//Colors

$body-background: #13063a;
$font-color: rgb(223, 223, 223);
$shining-color: rgb(244, 247, 186);
$radient-color:radial-gradient(ellipse at center, #F4F7BA 0%, #E7EAB0 50%, #CE5937 100%);

$box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

//Fonts

