@use "variables" as v;
@use "mixins" as m;


body {
    margin:0;
    background-color: rgb(97, 97, 97);

    &.stars {
    background-image: url("https://images.unsplash.com/photo-1622793139910-e261be0b30a4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHN0YXJyeSUyMHNreXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    font-family:'Roboto', sans-serif;
}
    &.marmour {
        background-image: url("https://images.unsplash.com/photo-1585314062340-f1a5a7c9328d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NTR8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
        font-family:"ubuntu", sans-serif;
    }

    &.leaf {
        background:radial-gradient(ellipse at center, #a3d7d3 0%, #78a9a7 50%, #5c746c 100%);
        font-family: "dosis", sans-serif;
    }
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    
    color: v.$font-color;
    position:fixed;
    width: 100%;
    z-index: 2;

    &.stars{
        background-color: v.$body-background;
    }

    &.marmour{
        background-color: black;
        
    }

    &.leaf{
        background: #215749;
    }
    
    

    nav {
        ul{
            padding-left:0;
        
            .siteLinks {
                color: v.$font-color;
            }
        }
        
    }

    .content {
        @include m.flexLayout;

        .linksSection {
            @include m.flexLayout;

            .links {
                padding: 0.5rem;
            }
            a {
                color: v.$font-color;
            };
        }
    }

    hr {
        position:absolute;
        top: 7.5rem;
        width: 100%;
        color: v.$shining-color;
       

    }

    .circle {
        @include m.circleDiv;
        
        width: 4rem;
        height: 4rem;
        top: 6rem;
        right:7rem;

        &.stars {
            background: v.$radient-color;
        }

        &.marmour {
            background: url("https://img.freepik.com/free-vector/digital-white-background-with-binary-code-numbers_1017-25335.jpg?w=900&t=st=1668977192~exp=1668977792~hmac=5eafc2782330d915f72aef187d421e3e0e0bdccbd4166052a8b4dbbc8f149e38");
        }

        &.leaf {
            background: url("https://images.unsplash.com/photo-1506477331477-33d5d8b3dc85?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8c2VhfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");        }
        
    }

    .circleSmall {
        @include m.circleDiv;
        z-index:1;
        
        
        width: 1rem;
        height: 1rem;

        &.stars {
            background-color: rgb(72, 49, 49);
        }

        &.marmour {
            background-color: black;
        }

        &.leaf {
            background: #215749;
        }
    }

    
    // .light {
        // background-color: v.$shining-color;
        // width: 1rem;
        // height: 1rem;
        // .light  {
    //         background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE2JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjcyIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    //       background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 16%,rgba(255,255,255,0.72) 48%,rgba(255,255,255,0) 100%);
    //       filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
          
    //         width:100%;
    //         height:100%;
    //         transform:rotatey(-12deg);
    //         border-radius:5000px 5px 5px 5000px;
    //       }
          
    }
    


main {
    .aboutMe {
        @include m.flexLayout;
        padding-top: 10rem;
        color: v.$font-color;

        .container {
            position:relative;

            .halfCircle {
                
                left:-30rem;
                
                
                height:  20rem;
                box-shadow: v.$box-shadow;
                border: 1px solid white;   
                
                &.stars{
                    background-color: v.$body-background;
                    @include m.circleDiv;
                    width: 60rem;
                }

                &.marmour{
                    background-color: black;
                    border-radius: 5%;
                    position:absolute;
                    width: 50rem;
                }

                &.leaf{
                    background-color:#022702;
    
                    border-radius: 50%;
                    position:absolute;
                    width: 60rem;
                    background: #215749;
                }

                img {
                    @include m.circleDiv;
                    left: 35rem;
                    top: 3.5rem;
                    box-shadow: v.$box-shadow;
                    border:#000000 1px solid;

                    @media(max-width: 800px) {
                        left:25rem;
                    }
                }

                @media (max-width: 1200px) {
                    top: 3rem;
                }

                @media (max-width: 1000px) {
                    top:8rem;
                }

                @media (max-width: 800px) {
                    top: 8rem;
                }
            }
        }
        .experience-container{
            margin-top: 150px;

        }

        .timeline-container {
            display:flex;
            flex-direction: row;

            .circleCard {
                
                
                padding: 1rem;
                height: 150px;
                width: 150px;
                text-align: center;
                box-shadow: v.$box-shadow;
                

                &.stars{
                    background: v.$radient-color;
                    color: black;
                    border-radius: 50%;
                    border: 2px solid black;
                }
                &.marmour{
                    background: black;
                    color:white;
                    border-radius: 5%;
                    border: 2px solid white;
                }

                &.leaf{
                    background: #215749;
                    color:white;
                    border-radius: 5%;
                    border: 2px solid white;
                }
                i {
                    font-size: 2rem;
                    margin-bottom: 0.5rem;
                }

                @media (max-width: 800px) {

                }
            }

            .timeline-line{
                margin-top: 75px;
                border-top: 2px solid white;
                width: 20px;
                height: 8px;

                @media(max-width: 800px){
                    display: none;
                }
            }

            @media(max-width: 800px) {
                flex-direction: column;
                padding-top: 8rem;
            }
        }

        @media (max-width: 800px) {
            padding-top: 12rem;
            flex-direction: column;
        }
    }

    .coding-languages {
        margin: 20rem 0;
        position:relative;

        .black-rectangle {
            
            width:100%;
            height: 10em;
            margin-top: 25em;
            box-shadow: v.$box-shadow;
            border-top: 1px solid white;
            border-bottom: 1px solid white;

            &.stars {
                background-color: v.$body-background;
            }

            &.marmour {
                background-color: black;
            }

            &.leaf {
                background-color:  #215749;
            }
        }

        .black-circle{
            @include m.circleDiv;
            z-index: 1;
            top:-15em;
            right:0;
            width: 50em;
            height: 35em;
            box-shadow: v.$box-shadow;
            text-align: center;
            padding-top: 7em;
            color: v.$font-color;
            border-top:1px solid white;
            border-bottom: 1px solid white;

            &.stars {
                background-color: v.$body-background;
            }

            &.marmour {
                background-color: black;
            }

            &.leaf {
                background-color:  #215749;
            }

            i {
                font-size: 3rem;
                margin-bottom: 2.5rem;

                @media (max-width: 500px) {
                    font-size: 2rem;
                    margin-bottom:0.5rem;
                }
            }

            @media (max-width: 900px) {
                top: -10em;
                width: 30em;
                height: 20em;
                padding-top: 5em;
            }

            @media (max-width: 500px) {
                top: -5em;
                width: 20em;
                height: 15em;
                padding-top: 3em;
            }
        }

        .white-circle {
            
            @include m.circleDiv;
            top:-7.5em;
            right:15em;
            width: 25em;
            height: 17em;
            box-shadow: v.$box-shadow;
            text-align: justify;
            justify-content: center;
            padding-top:5em;
            color: v.$font-color;
            border-top:1px solid white;
            border-bottom: 1px solid white;
            

            &.stars {
                background: v.$radient-color;
                color:black;
            }

            &.marmour {
                background:url("https://img.freepik.com/free-vector/white-digital-matrix-binary-code-numbers-background_1017-25332.jpg?w=900&t=st=1668974245~exp=1668974845~hmac=b5943ee2c25c05c80c61b477b68db3637243c835400287448277d8412cf5124e");
                color:black;
            }

            &.leaf {
                background: url("https://img.freepik.com/free-vector/green-data-technology-background-with-binary-code_53876-119581.jpg?w=900&t=st=1668976416~exp=1668977016~hmac=d184a8cc0354924f4759524ad160fc849201473e7750ab35daa8d6b63ef269f3");
                color:white;
            }

            h3 {
                padding-left:5.5em;
                width:50%;
            }

            @media (max-width: 900px) {
                top: -5em;
                right: 10em;
                width: 20em;
                height: 15em;
                padding-top: 3em;
            }

            @media (max-width: 500px) {
                top: -2.5em;
                right: 5em;
                width: 15em;
                height: 10em;
                padding-top: 2em;
            }
        }
    }

    .file-section{
        margin: 30rem 0;

        .files {
            flex-direction:row;
            display:flex;
            justify-content: start;
            gap:2px;
        }

        .file {
            width:4rem;
            height: 2rem;
            box-shadow: 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
            cursor: pointer;
        }

        #file1 {
            background-color: crimson;
            
        }

        #file2 {
            background-color: darkorange;
        }

        #file3 {
            background-color: darkgreen;
        }

        #file4 {
            background-color: darkblue;
        }

        #file5 {
            background-color: darkviolet;
        }

        #file6 {
            background-color: darkred;
        }

        

        .file-rectangle {
            width: 90%;
            height: 30em;
            margin-top: 0;
            border-radius:0 5px 0 0;
            box-shadow: 7px -5px 10px 0px #ffffff, 11px -9px 10px 0px #bcbcbc, 16px -14px 10px 0px #adaead, 20px -17px 10px 0px #6d6d6d, 24px -19px 10px 0px #565555, 27px -23px 10px 0px #242323, -50px -50px 0px -17px rgba(0,0,0,0);
        
        
            &.stars {
                background-color: v.$body-background;
            }

            &.marmour {
                background-color: black;
            }

            &.leaf {
                background-color:  #215749;
            }

        .file-rectangle-entry {
            display:flex;
            flex-direction: row;
            justify-content: space-between;

            img {
                width: 50%;
                margin: 40px;
            }

            .file-project-information{
                width: 50%;
                margin: 40px;
                color: v.$font-color;

                i {
                    color: v.$shining-color;
                    font-size:larger;
                }
            }

            @media (max-width: 900px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img {
                    width: 80%;
                    margin: 0;
                }

                .file-project-information{
                    width: 80%;
                    margin: 0;
                }

                .file {
                    width: 2rem;
                }
            }
        }
    }

    .interests {
        position:relative;

        .black-rectangle {
            width:100%;
            height: 10em;
            margin-top: 25em;
            box-shadow: v.$box-shadow;
            border-top: 1px solid white;
            border-bottom: 1px solid white;

            &.stars {
                background-color: v.$body-background;
            }

            &.marmour {
                background-color: black;
            }

            &.leaf {
                background-color:  #215749;
            }
        }

        .black-circle{
            @include m.circleDiv;
            z-index:1;
            top:-20em;
            left:0;
            width: 50em;
            height: 35em;
            box-shadow: v.$box-shadow;
            text-align: center;
            padding-top: 7em;
            color: v.$font-color;
            border-top: 1px solid white;
            border-bottom: 1px solid white;

            &.stars {
                background-color: v.$body-background;
            }

            &.marmour {
                background-color: black;
            }

            &.leaf {
                background-color:  #215749;
            }

            i {
                font-size: 3rem;
                margin-bottom: 2.5rem;
            }

            @media (max-width: 900px) {
                top: -10em;
                width: 30em;
                height: 20em;
                padding-top: 5em;
                
            }

            @media (max-width: 500px) {
                top: -5em;
                width: 20em;
                height: 15em;
                padding-top: 3em;
            }
        }

        .white-circle {
            @include m.circleDiv;
            top:-7.5em;
            left:15em;
            width: 25em;
            height: 17em;
            box-shadow: v.$box-shadow;
            text-align: justify;
            justify-content: center;
            padding-top:5em;
            color: v.$font-color;
            border-top:1px solid white;
            border-bottom: 1px solid white;
            

            &.stars {
                background: v.$radient-color;
                color:black;
            }

            &.marmour {
                background:url("https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9yZXN0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
                color:white;
            }

            &.leaf {
                background: url("https://images.unsplash.com/photo-1514735555661-d3278da9d5ca?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTB8fGZvcmVzdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
                color:white;
            }

            h3 {
                padding-left:5.5em;
                width:50%;
            }

            @media (max-width: 900px) {
                top: -5em;
                right: 10em;
                width: 20em;
                height: 15em;
                padding-top: 3em;
            }

            @media (max-width: 500px) {
                top: -2.5em;
                right: 5em;
                width: 15em;
                height: 10em;
                padding-top: 2em;
            }
        }

    }

}

}
footer {
    color: v.$font-color;
    text-align: center;

    box-shadow: v.$box-shadow;
    border-top: 1px solid white;
    border-bottom: 1px solid white;

    &.stars {
        background-color: v.$body-background;
    }

    &.marmour {
        background-color: black;
    }

    &.leaf {
        background-color:  #215749;
    }
}